// $bluePastel: rgba(104, 212, 203, 0.705);
$bluePastel: rgba(87, 194, 185, 0.767);
$bluePastelDark: rgba(23, 115, 138, 0.767);
$pinkPastel: rgba(255,209,220,0.8);
$pinkPastelDark: rgba(206, 142, 157, 0.8);